* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}
:root {
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --gradient: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));

    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}
body {
    overflow-x: hidden;
    /* font-size: 18px; */
    font-family: 'Public Sans', sans-serif;
    background-color: var(--very-light-gray);
    line-height: 1.6;
    position: relative;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    position: fixed;
    z-index: 10;
    width: 100vw;
    padding: 0 10%;
}
.nav .menu, .nav .close-menu {
    display: none;
}
.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid blue; */
    width: 30%;
    color: var(--grayish-blue);
    font-size: 13px;
    font-weight: 400;
}
.nav ul li {
    cursor: pointer;
    padding: 25px 0;
    font-weight: 700;
    /* border-bottom-width: 3px;border-bottom: 3px solid var(--lime-green); */
}
.nav ul li:hover {
    color: var(--dark-blue);
}
button {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-weight: 500;
    cursor: pointer;
    background: var(--gradient);
    color: var(--white);
}
.intro-container {
    display: flex;
}
.intro-container .intro-message {
    padding: 18% 0 0 10%;
    width: 120%;
    /* border: 1px solid yellow; */
}
.intro-container .intro-message h1 {
    font-size: 3rem;
    color: var(--dark-blue);
    font-weight: 400;
    line-height: 1.2;
}
.intro-container .intro-message p {
    color: var(--grayish-blue);
    font-weight: 400;
    margin: 10px 0 30px 0;
}
.intro-container .intro-image-container {
    position: relative;
    background: url(images/bg-intro-desktop.svg)  no-repeat;
    background-size: 70em;
    /* width: 150em; */
    width: 200%;
    height: 830px;
    margin-top: -10em;
    /* overflow: hidden; */
    /* border: 1px solid lime; */
}
.intro-container .intro-image-container img:last-of-type {
    position: absolute;
    top: 20em;
    top: 8em;
    left: 10em;
    width: 43em;
    z-index: 1;
    /* width: 90%; */
    /* display: none; */
}
.features-container {
    padding: 10% 10%;
    background-color: var(--light-grayish-blue);
}
.features-container h2 {
    color: var(--dark-blue);
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 20px;
}
.features-container > p {
    color: var(--grayish-blue);
    word-wrap: break-word;
    margin-bottom: 50px;
}
.features-container .features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    grid-gap: 10px;
    /* border: 1px solid yellow; */
}
.features section {
    word-wrap: break-word;
}
.features h4 {
    color: var(--dark-blue);
    margin: 20px 0;
}
.features p {
    color: var(--grayish-blue);
    font-size: 14px;
}
.articles-container {
    padding: 7% 10%;
}
.articles-container .articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
}
.articles-container h2 {
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 500;
    color: var(--dark-blue);
}
.articles section {
    width: 230px;
    background-color: var(--white);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.images {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 170px;
}
.articles section:nth-of-type(1) div {
    background: url(images/image-currency.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.articles section:nth-of-type(2) div {
    background: url(images/image-restaurant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.articles section:nth-of-type(3) div {
    background: url(images/image-plane.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.articles section:nth-of-type(4) div {
    background: url(images/image-confetti.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* -------------- scale background a little on hover ---------- */
/* .articles section div:hover {
    background-size: 20em;
} */
.articles section .caption {
    font-size: 10px;
    margin-bottom: 0px;
    margin-top: 20px;
    height: 15px;
}
.articles section h5 {
    margin: 5px 20px;
}
.articles section h5:hover {
    color: var(--lime-green);
    cursor: pointer;
}
.articles section p {
    font-size: 11.5px;
    color: var(--grayish-blue);
    margin: 5px 20px 20px;
    word-wrap: break-word;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 3% 10%;
}
footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 80px;
    list-style-type: none;
    font-size: 13px;
    margin-left: -15%;
}
footer ul li:hover {
    cursor: pointer;
    color: var(--lime-green)
}
footer div > svg path{
    fill: white;
}
.handles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-top: 30px;
}
.handles svg path:hover {
    cursor: pointer;
    fill: var(--lime-green);
}
footer .btn-copyright {
    text-align: right;
    font-size: 13px;
    color: var(--grayish-blue);
}
footer .btn-copyright p {
    margin-top: 25px;
}




/* --------------------------------------- MOBILE VIEW ---------------------------------------- */



@media only screen and (max-width: 800px){
    body {
        overflow: auto;
    }
    .nav {
        padding: 20px 10%;
    }
    .nav .menu {
        display: flex;
        cursor: pointer;
    }
    .nav button {
        display: none;
    }
    .nav ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        padding: 30px 0;
        width: 90%;
        top: 45px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        font-size: 16px;
        display: none;
    }
    .nav ul li {
        cursor: pointer;
        padding: 10px 0;
        font-weight: 700;
    }
    .intro-container {
        display: flex;
        flex-direction: column;
    }
    .intro-container .intro-message {
        order: 2;
        padding: 10%;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .intro-container .intro-image-container {
        background: url(images/bg-intro-mobile.svg) no-repeat;
        margin: 0;
        background-size: 50%;
        height: 470px;
        width: block;
        border: 1px so
    }
    .intro-container .intro-image-container img:last-of-type {
        left: 2%;
        top: -20%;
        width: 45%;
    }
    .intro-container .intro-message h1 {
        text-align: center;
        font-size: 35px;
        margin: 10px 5%;
    }
    .intro-container .intro-message p {
        text-align: justify;
        font-size: 17px;
    }
    button {
        width: 200px;
        height: 50px;
    }
    .features-container {
        padding: 20% 10% 0 10%;
        margin-top: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .features-container h2 {
        text-align: center;
        width: 50%;
        font-size: 25px;
        font-weight: 600;
        line-height: 1.3;
    }
    .features-container > p {
        text-align: center;
        justify-self: normal;
        font-size: 17px;
    }
    .features-container .features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px 0;
    }
    .features h4 {
        color: var(--dark-blue);
        margin: 20px 0;
        font-size: 25px;
    }
    .features p {
        color: var(--grayish-blue);
        font-size: 17px;
    }
    .features section {
        margin-bottom: 35px;
    }
    .articles-container h2 {
        margin-bottom: 30px;
        font-size: 35px;
        font-weight: 500;
        text-align: center;
    }
    .articles-container .articles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .articles section {
        width: 100%;
        margin-bottom: 50px;
        padding-bottom: 30px;
    }
    .images {
        height: 250px;
    }
    .articles section .caption {
        font-size: 15px;
        margin: 5% 10%;
    }
    .articles section h5 {
        margin: 20px;
        margin: 5% 5px 5% 10%;
        line-height: 1.2;
        font-size: 23px;
    }
    .articles section p {
        font-size: 17px;
        margin: 5px 10% 20px;
    }
}
